@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
:root {
    scroll-behavior: smooth;
    --font-family-sans-serif: 'Oswald';
    --font-family-monospace: 'Oswald';
}

body{
    max-width: 980px;
    margin: auto;
}

html{
    font-family: 'Oswald', sans-serif;
}

/* nav{
    margin: 0 0 50px 0;
} */

.navbar{
    border-radius: 0;
    border: 2px solid black;
}

header .banner h1, header nav .logo{
    font-family: 'Space Mono', sans-serif;
    font-size: 3.3rem;
    text-align: center;
}

header nav .menu {
    display: flex;
    justify-content: space-around;
    padding: 0;
    list-style-type: none;
    flex: 1;
}

header > nav > ul.menu > li > a {
    text-transform: uppercase;
    text-decoration: none;
    color: var(--main-color);
    border: 1px solid transparent;
    padding: 5px;
}

header > nav > ul.menu > li > a:hover {
    border: 1px solid black;
}

@media (min-width: 620px) {
    header nav {
        display: flex;
        align-items: center;     
    }
}

.banner h1{
    color: white;
}

header .banner {
    background-image: url(../img/painting-colors.jpg);
    background-position: top;
    background-size: cover;    
    min-height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.navbar-toggler{
    border-radius: 0;
    border: 1px solid black;
}

.button{
    padding: 3px;
    color: white;
    text-transform: uppercase;
    background-color: rgba(255, 255, 255, 0.24);
    border: 1px solid white;
    transition: 0.5s;
}

.button:hover{
    /* color: black; */
    /* border: 1px solid black; */
    color: white;
    background-color: rgba(0, 0, 0, 0.24);
    transition: 0.5s;
}

/* .jumbotron{
    border-radius: 0;
    border: 2px solid black;
} */

h1{
    text-transform: uppercase;
}

.card{
    border-radius: 0;
    border: 2px solid black;
}

.card-img-top{
    border-radius: 0;
}

.btn{
    border-radius: 0;
    border: 1px solid black;
    margin: 1px;
}

.banner p{
    margin: -15px 0 10px 0;
    font-size: 12px;
    color: white;
    text-transform: uppercase;
}

.btn-info{
    padding: 3px;
    background-color: rgba(255, 50, 50, 0.507);
    transition: 0.5s;
    color: black;
    outline: 0;
}

.btn-info:hover{
    background-color: rgba(0, 0, 0, 0.5);
    transition: 0.5s;
    border: 1px solid black;
    outline: 0;
}

.btn-info:focus{
    outline: 0;
}

.btn-info:active{
    background: rgba(0, 0, 0, 0.5);
    outline: 0;
}

.btn-primary{
    padding: 3px;
    background-color: rgb(117, 117, 117);
}

.btn-secondary{
    padding: 3px;
}

.close:hover{
    /* background-color: rgba(255, 50, 50, 0.507); */
    transition: 0.5s;
}

a.btn.btn-primary.btn-lg{
    text-transform: uppercase;
}

#carouselOffers {
    min-height: 500px;
}

#carouselOffers img {
    max-height: 450px;
}

.intro {
    max-width: 400px;
    margin-top: 150px;
    text-align: center;
}

#products{
    text-transform: uppercase;
}

.card {
    height: 100%;
}

.card-title{
    text-transform: uppercase;
}

.alert {
    position: fixed;
    top: 50px; 
    width: 50%;
    left: 25%;
    z-index: 1051;
}

/* .btn {
    padding: 0.75rem 0.7rem;
} */

a{
    text-decoration: none;
    transition: 0.5s;
}

a:hover{
    text-decoration: none;
    color: rgb(255, 50, 50);
    transition: 0.5s;
}

.modal-content{
    border-radius: 0;
}

.form-control{
    border-radius: 0;
}

.alert{
    border-radius: 0;
    border: 3px solid white;
}

.alert-success{
    color: rgb(11, 90, 0);
    border-color: white;
}

.alert-dismissible.alert-success {
    border-color: black;
}

.alert-dismissible.alert-success, .alert-dismissible.alert-success .alert-link, .alert-dismissible.alert-success .close:before {
    color: black;
}

#inst{
    color: black;
    transition: 0.5s;
}

#inst:hover{
    color: rgb(255, 50, 50);
    transition: 0.5s;
}

footer p{
    margin: 1px;
}